/whatsapp.tdesktop-theme/*
/breeze0.2.tdesktop-theme/*
/telegram-rine.tdesktop-theme/default.tdesktop-theme
/telegram-rine.tdesktop-theme/PWCG.png
/telegram-rine.tdesktop-theme/PHONE_B.png
/telegram-rine.tdesktop-theme/PHONE.png
/telegram-rine.tdesktop-theme/PHONE_RINE.png
/telegram-rine.tdesktop-theme/bg2.png